<div class="grid grid-cols-1 gap-y-4 md:gap-y-6 w-full !h-auto">
  <!-- Contenedor de 4 columnas -->
  <div class="grid grid-cols-4 gap-4 md:gap-6 w-full">
    <div class="bg-card relative flex w-full items-center p-2 md:p-4  shadow dark:border-b dark:bg-transparent dark:shadow-none rounded-2xl">
      01
    </div>

    <div class="bg-card relative flex w-full items-center px-4 shadow dark:border-b dark:bg-transparent dark:shadow-none md:px-6 rounded-2xl">
      02
    </div>

    <div class="bg-card relative flex w-full items-center px-4 shadow dark:border-b dark:bg-transparent dark:shadow-none md:px-6 rounded-2xl">
      03
    </div>

    <div class="bg-card relative flex w-full items-center px-4 shadow dark:border-b dark:bg-transparent dark:shadow-none md:px-6 rounded-2xl">
      04
    </div>
  </div>

  <!-- Contenedor de 2 columnas -->
  <div class="grid grid-cols-2 gap-4 md:gap-6 w-full">
    <div class="col-span-3 bg-card relative flex w-full items-center px-4 shadow dark:border-b dark:bg-transparent dark:shadow-none md:px-6 rounded-2xl">
      05
    </div>

    <div class="bg-card relative flex w-full items-center px-4 shadow dark:border-b dark:bg-transparent dark:shadow-none md:px-6 rounded-2xl">
      06
    </div>

    <div class="bg-card relative flex w-full items-center px-4 shadow dark:border-b dark:bg-transparent dark:shadow-none md:px-6 rounded-2xl">
      07
    </div>

    <div class="bg-card relative flex w-full items-center px-4 shadow dark:border-b dark:bg-transparent dark:shadow-none md:px-6 rounded-2xl">
      08
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4 md:gap-6 w-full">
    <div class="col-span-3 bg-card relative flex w-full items-center px-4 shadow dark:border-b dark:bg-transparent dark:shadow-none md:px-6 rounded-2xl">
      05
    </div>

    <div class="bg-card relative flex w-full items-center px-4 shadow dark:border-b dark:bg-transparent dark:shadow-none md:px-6 rounded-2xl">
      06
    </div>

    <div class="bg-card relative flex w-full items-center px-4 shadow dark:border-b dark:bg-transparent dark:shadow-none md:px-6 rounded-2xl">
      07
    </div>

    <div class="bg-card relative flex w-full items-center px-4 shadow dark:border-b dark:bg-transparent dark:shadow-none md:px-6 rounded-2xl">
      08
    </div>
  </div>
</div>
